.box-border {
    border: 1px solid grey; 
    margin: 10px;
}

.div-spacing {
    margin: 10px;
}

p {
    margin: auto;
    padding: 10px;
}

.chat-border{
    border: 1px solid grey;
    height: 200px;
    margin: 25px 0px 0px 0px;
}

.chatMessage {
    padding: 0px;
    margin: 10px 0px 10px 0px;
}

.chatMessageSend {
    margin: 10px 0px 0px 2px;
}